/* imports and document */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* variables */
:root {
    --theme-color: #A43944;
    --text-muted: gray;
  
    --background-content: rgb(250, 250, 250);
    --background-seethrough: rgba(255, 255, 255, 0.6);
  
    --shadow-light: rgba(0, 0, 0, 0.05);
    --shadow: rgba(0, 0, 0, 0.1);
  
    --box-padding-small: 0.8em;
    --box-padding: 1em;
    --box-padding-large: 2em;

    --border-radius: 0 0 7px 7px;
  
    --box-radius: 1em;
    --box-radius-large: 2em;
    --avatar-radius: 100%;
}


/* root settings */
body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}


/* main page structure elements */
.container {
    background-color: var(--background-content);
    border-radius: var(--border-radius);
    padding: 50px;
}

.page {
    margin: 50px auto;
    max-width: 1000px;
}

.container h1 {
    font-size: 2rem;
}

.actions {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

#error {
    color: red;
}


/* footer */
.footer {
    border-radius: 0 0 7px 7px;
}

.footer hr {
    margin: 50px 0;
} 

.footer p, .topbar h1 {
    margin: unset;
} 


/* topbar header */
.topbar h1 {
    font-size: 2.5rem;
}

.topbar {
    border-radius: 7px 7px 0 0;
    background-image: url('../images/background-blur.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.topbar-seethrough {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 50px;
    padding: 50px 50px 0 50px;
    border-radius: 7px 7px 0 0;
    background-color: var(--background-seethrough);
}

.topbar-seethrough > div:last-child {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    flex-grow: 1;
}

.topbar-menu {
    display: flex; 
    flex-direction: row; 
    gap: 0.5em;
    width: 100%;
    padding-bottom: 1em;
}

.topbar .logo {
    margin-bottom: 50px;
}

.logo {
    width: 170px;
    height: 170px;
}

.topbar .heading h1, .topbar .heading h4 {
    margin: unset;
    font-weight: normal;
}

.topbar-button {
    flex-grow: 3;
    box-shadow: 0 0 10px var(--shadow);
    transition-duration: 0.3s;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    color: black;
    text-transform: lowercase;
    text-decoration: none;
    padding: 1em 1em;
    border-radius: 5px;
    transition-duration: 0.2s;
    background-color: rgba(255, 255, 255, 0.5);
}

.topbar-button:hover {
    text-decoration: none;
}

.topbar-button i {
    font-size: 2em;
}

.topbar-button div {
    display: flex;
    flex-direction: column;
}

.topbar-button .count {
    font-size: 0.8em;
}

.topbar-button:hover, .topbar-button:focus, .topbar-button.current {
    box-shadow: inset 0 0 10px var(--shadow-light);
    background-color: rgb(255,255,255);
    box-shadow: 0 0 10px var(--shadow-light);
    transition-duration: 0.2s;
}


/* element styles */
.button {
    text-align: center;
    background-color: rgb(164, 57, 68, 0.8);
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--shadow);
    transition-duration: 0.3s;
    font-size: 1.1em;
    padding: 0.5em 2em;
    height: 100%;
}

.button:hover {
    text-decoration: none;
    background-color: var(--theme-color);
    transition-duration: 0.3s;
}

.input-text {
    border-width: 2px;
    border-color: var(--background-color);
    border-radius: 5px;
    font-size: 1.1em;
}

a {
    color: var(--theme-color);
    text-decoration: unset;
} 

a:hover {
    text-decoration: underline;
}

hr {
    margin: 2em 0;
}

.pill {
    background-color: var(--theme-color);
    padding: 0.2em 1em;
    border-radius: 50px;
    color: white;
}


/* content lists styling */
.list {
    display: grid; 
    gap: 1em; 
}

.list h2 {
    color: black;
}

.list > a, .list > div {
    background-color: rgba(230, 230, 230, 0.5);
    padding: 1.5em;
    border-radius: 5px;
    transition-duration: 0.3s;
} 

.list a:hover {
    text-decoration: none;
    transform: scale(1.02);
    transition-duration: 0.3s;
}

.list p, .list h2 {
    margin-top: unset;
}


/* form styling */
.formstyles {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.half-width {
    width: 50%;
    margin: auto;
}

.formstyles > div {
    display: flex;
    flex-direction: column;
}

input, textarea, textarea {
    max-width: 100%;
    border-radius: 5px;
    font-size: 0.9em;
    padding: 0.4em;
}


/* posts */
.commentsection {
    display: flex;
    gap: 2em;
    justify-content: space-between;
}

.commentsection > div:first-child {
    flex-grow: 1;
}


/* mobile compatibility */
@media(max-aspect-ratio: 5/6) {
    .topbar-seethrough {
        padding: 20px;
    }
    .topbar .logo {
        margin-bottom: unset;
    }
    .logo {
        display: none;
    }
    .topbar-seethrough {
        flex-direction: column;
    }
    .topbar-menu {
        flex-direction: column;
        padding-top: 1em;
        padding-bottom: unset;
    }
    .container {
        padding: 20px;
    }
    .half-width {
        width: 100%;
    }
}

@media(max-aspect-ratio: 10/9) {
    .actions, .commentsection {
        flex-direction: column;
    }
}